$fullHeight:100vh;
$maxWidth:980px;
$responsive-limit:680px;
$backgroundAlpa: rgba(255,255,255,0.5);
$backgroundAlpha-secondary: rgba(255,255,255,0.3);
$backgroundAlpha-third: rgba(0,0,0,0.05);
$rounderCorner: 10px;
$borderColor: rgba(0,0,0,0.15);

$white: #fff;
$black: #000;
$green: #11b28f;
$red: #ff6e5e;
$primary-color: #118AB2;